.greenbutton {
  background-color: #5fb523;
  padding: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  width: 90vw;
  text-align: center;
  font-family: 'Nunito sans', sans-serif;
}

.greenbuttondiv {
  background-color: #5fb523;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
