body {
  margin: 0;
  height: 100vh;
}

.navbar {
  display: flex;
  background-color: #3778c2;
  position: relative;
  padding: 0.5rem;
  height: 5%;
}

.navbar > a {
  font-size: 1.7rem;
  align-self: center;
  position: absolute;
  color: white;
}

.exit {
  all: unset;
  font-size: 1.7rem;
  cursor: pointer;
  position: absolute;
  top: 4px;
  color: white;
  align-self: center;
}

.navbar > h2 {
  font-size: 1rem;
  margin: 0;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
